*{
    margin:0;
    padding:0;
}
body{
    font-family:arial,sans-serif;
    font-size:100%;
    margin:3em;
    background:#666;
    color:#fff;
}
h2{
    font-width: bold;
    font-size: 120%;
    height: 3em;
}
ul,li{
    list-style:none;
}

p{
    font-size:100%;
    font-weight:normal;
}

ul{
    overflow:hidden;
    padding:3em;
}
ul li a{
    text-decoration:none;
    color:#000;

    display:block;
    min-height:20em;
    width:20em;
    padding:1em;
    position: relative;

    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
ul li{
    margin:1em;
    float:left;
}
.author {
    position: absolute;
    left: 1em;
    bottom: 1em;
    font-style: italic;
}
.text {
    margin-top: 1em;
    max-height: 12em;
    overflow: hidden;
    margin-bottom: 2em;
}
.text:hover {
    margin-top: 1em;
    max-height: 120em;
    overflow: visible;
    background:#ffc;
}

